<template>
  <div id="app">
    <div class="col-xl-12" style="padding:0;">
      <navbar-top></navbar-top>
      <app-nav></app-nav>
    </div>
    <router-view/>
  </div>
</template>

<script>
import WeeklyNumberSales from './components/WeeklyNumberSales'
import ChartBestProductsSales from './components/ChartBestProductsSales'
import BestCountriesSales from './components/BestCountriesSales'
import TotalSales from './components/TotalSales'
import AppNav from './components/AppNav'
import NavbarTop from './components/NavbarTop'

export default {
  name: 'App',
  beforeMount() {
    this.$store.dispatch('GET_ALL_PRODUCTS')
  },
  components: {
    WeeklyNumberSales,
    ChartBestProductsSales,
    BestCountriesSales,
    TotalSales,
    AppNav,
    NavbarTop
  }
}
</script>

<style lang="less">
  body{
    background: #F7F7F7;
    padding-top:75px;
    padding-left:17%;
  }

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  font-family: Raleway;
}
  :root{
    --color: #16B0B3
  }
  .modal-header{
    background: #F7F7F7;
    h5{
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  .modal-body{
    input{
      margin:10px 0;
      padding-left:10px;
      height: 45px;
    }
    button{
      background: var(--color);
      border:1px solid var(--color);
      width: 50%;
      color:#ffffff;
      height:45px;
    }
  }
</style>
