<template>
    <div class="container-block">
      <div class="title"><router-link to="/">Dashboard</router-link></div>
      <div class="">
        <router-link to="/articles">Articles</router-link>
      </div>
    </div>
</template>

<style lang="less" scoped>
.container-block{
  background: #272D38;
  text-align: left;
  margin-bottom: 15px;
  color:#ffffff;
  height:100vh;
  position: fixed;
  width: 16.6%;
  z-index:10;
  top:0;
  left:0;
  a{
    color:#ffffff;
    padding: 15px;
    display: inline-block;
  }
  .title{
    border-bottom: 1px solid #3C3D42;
    padding:15px;
    a{
      padding:0;
    }
  }
}
</style>
