<template>
    <div class="container-block">
      <div class="title"><div>Best countries sales</div></div>
        <chart-best-countries-sales :height="300" :countries="countCountries"></chart-best-countries-sales>
    </div>
</template>

<script>
  import ChartBestCountriesSales from './ChartBestCountriesSales'
  export default {
  components: { ChartBestCountriesSales },
  props: ['products'],
  computed: {
    countCountries: function() {
      let allCountries = this.products.map((item) => item.country)
      let count = allCountries.reduce((acc, curr) => {
        if (acc[curr]) {
          acc[curr]++
        } else {
          acc[curr] = 1
        }
        return acc
      }, {})
      return JSON.stringify(count)
    }
  },
}
</script>

<style lang="less" scoped>
  .container-block{
    background: #ffffff;
    text-align: left;
    border:1px solid #eeeeee;
    margin-bottom: 15px;
    margin-top:30px;
    min-height:175px;
    .title{
      border-left: 5px solid var(--color)!important;
      background: #F1F1F1;
      color: #272D38;
      text-transform: uppercase;
      font-size: 20px;
      div{
        padding:5px 5px 5px 15px;
      }
    }
    .content{
      padding: 25px 25px 25px 20px;
      .intro{
        color:#6c757d;
        font-size:15px;

      }
      .result{
        color: var(--color)!important;
        font-size: 35px;
        span.number{
          font-weight: bold;
        }
        span.price{
          color:#272D38;
          font-size:12px;
        }
      }
    }
  }
</style>
