<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-5">
        <weekly-number-sales></weekly-number-sales>
        <total-sales></total-sales>

      </div>
      <div class="col-xl-7">
        <best-products-sales :products="products"></best-products-sales>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6">
        <best-countries-sales :products="products"></best-countries-sales>
      </div>
      <div class="col-xl-6">
        <last-sales :products="products"></last-sales>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import WeeklyNumberSales from './WeeklyNumberSales'
import BestProductsSales from './BestProductsSales'
import BestCountriesSales from './BestCountriesSales'
import TotalSales from './TotalSales'
import AppNav from './AppNav'
import NavbarTop from './NavbarTop'
import LastSales from './LastSales'

export default {
  name: 'Home',
  data () {
    return {
      showForm: false,
      products: []
    }
  },
  components: {
    WeeklyNumberSales,
    BestProductsSales,
    BestCountriesSales,
    TotalSales,
    AppNav,
    NavbarTop,
    LastSales
  },
  async beforeMount() {
    const req = await axios.get('http://localhost:3000/notes')
    this.products = req.data;
  }
}
</script>

<style>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color:#ffffff;
}
</style>
