<template>
  <div class="container-block" >
    <div class="title"><div> Last sales</div></div>
    <div class="content">
      <div class="row" v-for="product in productList">
        <div class="col-xl-12">
          <span class="date">{{moment(product.date).format('YYYY/MM/DD')}}</span>
        </div>
        <div class="col-xl-5" style="overflow:hidden">
          <div class="product-info">{{product.productCategory}} - {{product.productName}}</div>
        </div>
        <div class="col-xl-7">
          <div class="description" v-if="product.description">{{product.description}}</div>
          <div class="description" v-else>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non bibendum augue, quis gravida lorem. Duis interdum congue odio at consectetur.</div>
        </div>
      </div>
      <div class="text-center">
        <b-btn @click="getMoreProducts()">See more</b-btn>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
export default{
    data: function() {
      return {
        moment,
        size: 10,
        initValue: 0,
        productList: []
      }
    },
  props: [
    'products',
  ],
  methods: {
    getMoreProducts: function () {
      this.initValue += 1
      let salesProducts = this.products.filter(item => item.sales === true)
      this.productList = salesProducts.slice(0, this.initValue * 10);
    },
    allProducts: function (products) {
      return products.sort(function(a,b) {
        return parseInt(moment(b.date).format('YYYYMMDD')) - parseInt(moment(a.date).format('YYYYMMDD'))
      })
    }
  },
  watch: {
    products: function(newVal, oldVal) {
      if (newVal.length) {
        this.getMoreProducts()
      }
    }
  }
}
</script>

<style lang="less" scoped>
  .container-block{
    background: #ffffff;
    text-align: left;
    border:1px solid #eeeeee;
    margin-bottom: 15px;
    margin-top:30px;
    height:345px;
  .title{
    border-left: 5px solid var(--color)!important;
    background: #F1F1F1;
    color: #272D38;
    text-transform: uppercase;
    font-size: 20px;
  div{
    padding:5px 5px 5px 15px;
  }
  }
  .content{
    padding: 25px 25px 25px 20px;
    max-height: 305px;
    overflow-y: scroll;
  .intro{
    color:#6c757d;
    font-size:15px;

  }
  .result{
    color: var(--color)!important;
    font-size: 35px;
  span.number{
    font-weight: bold;
  }
  span.price{
    color:#272D38;
    font-size:12px;
  }
  }
  }
    .date{
      color:var(--color)!important;
      font-weight:bold;
    }
    .product-info{
      font-size:14px;
    }
    .description{
      color: #6c757d;
      font-size: 12px;
      margin-bottom: 10px;
    }
  }
</style>
