<template>
    <div class="container-block">
      <b-dropdown id="ddown-header" text="parameters">
        <b-dropdown-header>Change theme color</b-dropdown-header>
        <b-dropdown-item-button>
          <input id="blue" type="radio" value="blue" v-model="checkedColorTheme" @change="changeColor">
          <label for="blue">blue</label>
        </b-dropdown-item-button>
        <b-dropdown-item-button>
          <input for="red" id="red" type="radio" value="red" v-model="checkedColorTheme" @change="changeColor">
          <label for="red">red</label>
        </b-dropdown-item-button>
      </b-dropdown>
    </div>
</template>

<script>
export default {
  computed:{
    checkedColorTheme: {
      get: function(){
        return this.$store.state.colors.checkedColor
      },
      set: function(newVal){
        this.$store.state.colors.checkedColor = newVal
      }
    }
  },
  methods: {
    changeColor(e) {
      this.$store.commit('CHANGE_COLOR', e.target.value)
      console.log(this.checkedColorTheme)
      document.documentElement.style.setProperty('--color', this.checkedColorTheme)
    }
  },
}
</script>

<style lang="less" scoped>
  .btn-secondary{
    background: red!important;
    border:0;
  }
  .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary{
    background:transparent!important;
    border:0;
  }
.container-block{
  background: #272D38;
  text-align: right;
  color:#ffffff;
  width: 100%;
  z-index:10;
  padding: 8px;
  border-bottom:1px solid #3C3D42;
  position: fixed;
  top:0;
  left:0;
  a{
    color:#ffffff;
  }
  .title{
    border-bottom: 1px solid #3C3D42;
    padding:10px;
  }
  img{
    width: 25px;
    cursor:pointer;
  }
  .submenu{
    position: absolute;
    right: 0;
    background: #272D38;
    margin-top: 16px;
    z-index: 10;
    padding: 10px;
    width: 175px;
    text-align: center;
  }
  input[type="radio"]{
    position: absolute;
    left:-9999px;
  }
  label{
    width: 100%;
    padding:5px 10px;
    text-align:center;
  }
  .dropdown-item{
    padding:0;
  }


}
</style>
