<template>

  <div class="hello">
    <div>
      <div class="row">
        <div class="col-xl-1"></div>
        <div class="col-xl-5" style="padding:0">
          <input type="text" v-model="search" placeholder="Search a product"/>
        </div>
        <div class="col-xl-3" style="padding:0">
          <div class="category-filter" @click="toggleCatFilter = !toggleCatFilter">Filter by category</div>
          <div class="submenu-cat-filter" v-if="toggleCatFilter">
            <div v-for="cat in allProductsCategory">
              <input type="checkbox" :value="cat" v-model="catSelected" />
              <label>{{cat}}</label>
            </div>
          </div>
        </div>
        <div class="col-xl-2" style="padding:0">
          <b-btn class="add-product" variant="primary" @click="showModal('add')">Ajouter un produit</b-btn>
        </div>
        <div class="col-xl-1"></div>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Product name</th>
          <th scope="col">Category</th>
          <th scope="col">Price</th>
          <th scope="col">Date</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item, index) in filteredProducts" :key="item.id">
          <td>{{ item.productName }}</td>
          <td>{{ item.productCategory }}</td>
          <td>{{ item.price }}</td>
          <td>{{moment(item.date).format('YYYY MMM DD')}}</td>
          <td>
            <b-btn @click="showModal('update', item)">Modifier</b-btn>
            <b-btn @click="deleteUser(item, index)">Supprimer</b-btn>
          </td>
        </tr>
        </tbody>
      </table>
      <b-modal ref="myModalRef" hide-footer :title="action === 'update' ? 'Modify product' : 'Add product'">
        <div class="d-block text-center" v-if="action === 'add'">
          <form>
            <select v-model="product.productCategory">
              <option value="" disabled selected>Choose a category</option>
              <option v-for="cat in allCategories">{{cat}}</option>
            </select>
            <input type="number" placeholder="Enter a price" v-model="product.price"/>
            <input disabled placeholder="Enter a date" v-model="moment(product.date).format('DD MMM YYYY')"/>
            <select v-model="product.country">
              <option value="" disabled selected>Choose a country</option>
              <option v-for="country in allCountries">{{country}}</option>
            </select>
            <input placeholder="Enter a product name" v-model="product.productName"/>
            <b-btn :disabled="!isAddFormCompleted" @click="addProduct">Ajouter</b-btn>
          </form>
        </div>
        <div class="d-block text-center" v-if="action === 'update'">
          <form>
            <select v-model="itemSelected.productCategory">
              <option v-for="cat in allCategories">{{cat}}</option>
            </select>
            <input v-model="itemSelected.price">
            <input v-model="itemSelected.productName">
            <b-btn :disabled="!isUpdateFormCompleted" type="submit" @click="updateProduct">Modifier</b-btn>
          </form>
        </div>
      </b-modal>
    </div>
  </div>
</template>

<script>
  import moment from 'moment'
  import axios from 'axios'

  export default {
    name: 'ProductsList',
    data() {
      return {
        moment,
        toggleCatFilter: false,
        catSelected: [],
        action: '',
        itemSelected: {},
        search: '',
        products: [],
        showForm: false,
        countrySelected: 'France',
        product: {
          productCategory: '',
          price: '',
          date: new Date(),
          country: '',
          sales: false,
          productName: '',
          title: '',
          content: ''
        }
      }
    },
    computed: {
      filteredProducts: function() {
        let items = this.$store.state.products.products

        if (!this.catSelected.length && !this.search.length) return items

        items = items.filter(item => {
          return this.catSelected.length ? this.catSelected.toString().toLowerCase().includes(item.productCategory.toLowerCase()) : item
        }).filter(item => {
          return this.search.length ? item.productName.toLowerCase().includes(this.search.toLowerCase()) : item
        }).reverse()

        return items
      },
      allProductsCategory: function () {
        return [...new Set(this.$store.state.products.products.map((item) => item.productCategory))]
      },
      allCategories: function () {
        return this.$store.getters.getAllCategories
      },
      allCountries: function () {
        return this.$store.getters.getAllCountries
      },
      isAddFormCompleted: function() {
        return this.product.productCategory && this.product.price && this.product.country && this.product.productName
      },
      isUpdateFormCompleted: function() {
        return  this.itemSelected.productCategory && this.itemSelected.price && this.itemSelected.productName
      }
    },
    filters: {
      currency: function (value){
        return '$' + value
      }
    },
    methods: {
      async addProduct (event) {
        event.preventDefault()
        const newProduct = {...this.product, date: moment(this.product.date).format('YYYY MMM DD') }
        this.$store.dispatch('ADD_TO_LIST', newProduct)
        this.hideModal()
        Object.assign(this.$data, this.$options.data.call(this));
      },
      async deleteUser (item){
        const productId = item._id
        this.$store.dispatch('DELETE_PRODUCT', productId)
      },
      async updateProduct (event) {
        event.preventDefault()
        this.$store.dispatch('UPDATE_PRODUCT', this.itemSelected)
        this.hideModal()
      },
      showModal(action, item) {
        this.action = action
        this.itemSelected = item;
        this.$refs.myModalRef.show()
      },
      hideModal() {
        this.$refs.myModalRef.hide()
      }
    },
    async mounted() {
      try {
        this.products =  await axios.get('http://localhost:3000/notes')
      } catch(e) {}
    }
  }
</script>

<style lang="less" scoped>
  table {
    background: #ffffff;
  }

  .add-product {
    height: 45px;
    border-radius: 0;
    background: var(--color) !important;
    border-color: var(--color) !important;
    margin-bottom: 45px;
    width: 100%;
  }

  .category-filter {
    width: 100%;
    height: 45px;
    border: 1px solid #dee2e6;
    padding: 10px;
    background: #ffffff;
    text-align: left;
    cursor: pointer;
  }

  input[type="text"] {
    width: 100%;
    height: 45px;
    border: 1px solid #dee2e6;
    padding: 10px;
  }

  .submenu-cat-filter {
    background: #ffffff;
    text-align: left;
    padding-left: 10px;
    input {
      &:checked + label {
        color: var(--color);
        font-weight: bold;
      }
    }
  }

  form {
    input {
      display: block;
      width: 100%;
    }
    select{
      width: 100%;
      padding-left: 10px;
      height: 45px;
    }
  }
</style>
