<template>
  <div class="container-block">
    <div class="title"><div>Years sales</div></div>
    <div class="content">
      <div class="intro">Your sales since the beginning of your activity are from</div>
      <div class="result"><span class="number">{{totalSales}}</span> ventes <span class="price">(soit {{totalSalesPriceProduct}} $ )</span></div>
    </div>
  </div>
</template>

<script>
  export default {
    computed: {
      totalSales: function () {
        return this.$store.getters.salesProduct
      },
      totalSalesPriceProduct: function() {
        return this.$store.getters.totalSalesPriceProduct
      }
    }
  }
</script>

<style lang="less" scoped>
  .container-block{
    background: #ffffff;
    text-align: left;
    border:1px solid #eeeeee;
    margin-bottom: 15px;
    margin-top:30px;
    height:185px;
    .title{
      border-left: 5px solid var(--color)!important;
      background: #F1F1F1;
      color: #272D38;
      text-transform: uppercase;
      font-size: 20px;
      div{
        padding:5px 5px 5px 15px;
      }
    }
    .content{
      padding: 25px 25px 25px 20px;
      .intro{
        color:#6c757d;
        font-size:15px;

      }
      .result{
        color: var(--color)!important;
        font-size: 35px;
        span.number{
          font-weight: bold;
        }
        span.price{
          color:#272D38;
          font-size:12px;
        }
      }
    }
  }
</style>
