<template>
    <div class="container-block">
      <div class="title"><div>Month sales</div></div>
      <div class="content">
        <select @change="optionSelected" v-model="monthSelected">
          <option v-for="month in Object.keys(getSalesNumberByMonth)" :value="month">
            {{moment(month).format('MMM') }}
          </option>
        </select>

        <div class="intro">Your sales of the week are from</div>
        <div class="result"><span class="number" v-if="!counter">{{ getSalesNumberByMonth[monthSelected] }}</span v-else><span class="number">{{counter}}</span> ventes </div>
      </div>
    </div>
</template>

<script>
  const moment = require('moment')
export default {
    data () {
      return {
        moment,
        counter: '',
        monthSelected: moment().format('MM')
      }
    },
  methods: {
    optionSelected: function (evt) {
      this.counter = this.getSalesNumberByMonth[evt.target.value]
      return evt.target.value
    }
  },
  computed: {
    getAllProductByDate: function(){
      return this.$store.getters.getAllProductByDate
    },
    getAllProductByMonth: function () {
     let tableau = []
     this.getAllProductByDate.forEach((item) => tableau.push(moment(item).format('MM')))
      return tableau.sort()
    },
    find: function(index) {


    },
    getSalesNumberByMonth: function () {
      return this.getAllProductByMonth.reduce((acc, curr) => {
        if(acc[curr]){
          acc[curr]++
        }
        else{
          acc[curr] = 1
        }
        return acc
      },{})
    }
  },
  mounted() {
    this.counter = this.getSalesNumberByMonth[this.monthSelected]
  }
}
</script>

<style lang="less" scoped>
.container-block{
  background: #ffffff;
  text-align: left;
  border:1px solid #eeeeee;
  margin-bottom: 15px;
  margin-top:30px;
  height:185px;
  .title{
    border-left: 5px solid var(--color)!important;
    background: #F1F1F1;
    color: #272D38;
    text-transform: uppercase;
    font-size: 20px;
    div{
      padding:5px 5px 5px 15px;
    }
  }
  .content{
    padding: 25px 25px 25px 20px;
    .intro{
      color:#6c757d;
      font-size:15px;

    }
    .result{
      color: var(--color)!important;
      font-size: 35px;
      span.number{
        font-weight: bold;
      }
      span.price{
        color:#272D38;
        font-size:12px;
      }
    }
  }
}
</style>
